/**
* @file 
* @date 2023-08-17
* @author xuejie.he
* @lastModify xuejie.he 2023-08-17
*/

.btn_wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  border: none;
  appearance: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
