/**
* @file 
* @date 2024-03-04
* @author xuejie.he
* @lastModify xuejie.he 2024-03-04
*/

.page1_wrapper {
  width: 100vw;
  min-height: 108rem;
  height: calc(100vh - 6.4rem);
  transition: all 0.2s linear;
  position: relative;
}

.page1_body {
  width: 140rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.page1_bannerImg {
  width: 100%;
  height: calc(100% + 6.4rem);
  object-fit: cover;
  object-position: bottom center;
  position: absolute;
  top: -6.4rem;
  left: 0;
  z-index: 0;
}
