.page2_procIconContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.page2_procIconContainer__active {
  .page2_procIconPoint1Container {
    transform: translateX(20px);
  }

  .page2_procIconPoint2Container {
    transform: translateX(-10px);
  }
}

.page2_procIconPoint1 {
  transform: rotate(45deg);
  border-radius: 50% 45% 3% 45%;
  width: 2.8rem;
  height: 2.8rem;
  background: linear-gradient(180deg, #3cbbc7 0%, #67cdd6 100%);
  box-shadow:
    -0.32px -0.32px 0.32px 0px #0ac7d9 inset,
    0.32px 0.32px 0.32px 0px #cefcf0 inset;
  transition: all 0.15s linear;
}

.page2_procIconCircle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: $white;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
}

.page2_procIconPoint2 {
  width: 3.7rem;
  height: 3.7rem;
  transform: rotate(45deg);
  border-radius: 50% 55% 3% 55%;
  background-color: rgba(210, 250, 250, 0.6);
  box-shadow:
    0.32px 0.32px 0.32px 0px #9de4e8 inset,
    -0.32px -0.32px 0.32px 0px #d4fff4 inset;
  backdrop-filter: blur(3.200000286102295px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  transition: all 0.15s linear;
}

.page2_procIconPoint2Container {
  transition: all 0.15s linear;
  right: 8px;
  bottom: 16px;
  position: absolute;
}

.page2_procIconPoint1Container {
  transition: all 0.15s linear;
  left: 4px;
  bottom: 16px;
  position: absolute;
}
