/**
* @file 头部导航的样式
* @date 2024-02-23
* @author xuejie.he
* @lastModify xuejie.he 2024-02-23
*/

.navigation_wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 3rem;
  position: relative;
  z-index: 99;
  background-color: $white;
  transition: all 0.15s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: 6.4rem;
  position: relative;
  border-bottom: 1px solid $neutral_200;
  &.navigation_wrapperTransparent {
    background-color: transparent;
    border-bottom: 0;
  }
}

@media screen and (max-width: 451px) {
  .navigation_wrapper {
    padding: 0 2rem;
  }
}
