/**
* @file 
* @date 2023-12-13
* @author xuejie.he
* @lastModify xuejie.he 2023-12-13
*/

.imageViewer_wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}
