/**
* @file  下拉悬浮框的样式 styles
* @date 2021-12-13
* @author xuejie.he
* @lastModify xuejie.he 2021-12-13
*/

/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin wrapper {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  z-index: 99;
  .kite_body {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0) scale(1, 1);
  }
  .kite_triangle {
    box-sizing: border-box;
  }
}

@mixin bottom {
  @include wrapper();
  .kite_body {
    order: 1;
  }
  .kite_triangle {
    order: 0;
  }
}

@mixin top {
  @include wrapper();
  .kite_body {
    order: 0;
  }
  .kite_triangle {
    order: 1;
  }
}

@mixin left {
  @include wrapper();
  .kite_body {
    order: 0;
  }
  .kite_triangle {
    order: 1;
  }
}

@mixin right {
  @include wrapper();
  .kite_body {
    order: 1;
  }
  .kite_triangle {
    order: 0;
  }
}

@mixin horizontal {
  flex-flow: row nowrap;
}

@mixin vertical {
  flex-flow: column nowrap;
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */

.kite_ {
  &vertical {
    &Lb {
      @include bottom();
      @include vertical();
    }
    &Rb {
      @include bottom();
      @include vertical();
    }
    &Cb {
      @include bottom();
      @include vertical();
    }
    &Lt {
      @include top();
      @include vertical();
    }
    &Rt {
      @include top();
      @include vertical();
    }
    &Ct {
      @include top();
      @include vertical();
    }
  }
  &horizontal {
    &Lb {
      @include left();
      @include horizontal();
    }
    &Rb {
      @include right();
      @include horizontal();
    }
    &Lt {
      @include left();
      @include horizontal();
    }
    &Rt {
      @include right();
      @include horizontal();
    }
    &Rc {
      @include right();
      @include horizontal();
    }
    &Lc {
      @include left();
      @include horizontal();
    }
  }
}

.kite_reverse {
  &.kite_ {
    &vertical {
      &Lb {
        @include top();
        @include vertical();
      }
      &Rb {
        @include top();
        @include vertical();
      }
      &Cb {
        @include top();
        @include vertical();
      }
      &Lt {
        @include bottom();
        @include vertical();
      }
      &Rt {
        @include bottom();
        @include vertical();
      }
      &Ct {
        @include bottom();
        @include vertical();
      }
    }
    &horizontal {
      &Lb {
        @include right();
        @include horizontal();
      }
      &Rb {
        @include left();
        @include horizontal();
      }
      &Lt {
        @include right();
        @include horizontal();
      }
      &Rt {
        @include left();
        @include horizontal();
      }
      &Rc {
        @include left();
        @include horizontal();
      }
      &Lc {
        @include right();
        @include horizontal();
      }
    }
  }
}

.kite_triangle {
  width: 0;
  height: 0;
  flex: 0 0 auto;
  position: relative;
}

@mixin Animate {
  &EnterTo,
  &LeaveFrom {
    opacity: 1;
  }
  &EnterFrom,
  &LeaveTo {
    opacity: 0;
  }
}

@mixin AnimateX($isLeft) {
  @if $isLeft {
    &EnterTo,
    &LeaveFrom {
      transform: scaleX(1);
    }
    &EnterFrom,
    &LeaveTo {
      transform: scaleX(0);
    }
  } @else {
    &EnterTo,
    &LeaveFrom {
      transform: scaleX(1);
    }
    &EnterFrom,
    &LeaveTo {
      transform: scaleX(0);
    }
  }
}

@mixin AnimateY($isTop) {
  @if $isTop {
    &EnterTo,
    &LeaveFrom {
      transform: scaleY(1);
    }
    &EnterFrom,
    &LeaveTo {
      transform: scaleY(0);
    }
  } @else {
    &EnterTo,
    &LeaveFrom {
      transform: scaleY(1);
    }
    &EnterFrom,
    &LeaveTo {
      transform: scaleY(0);
    }
  }
}

@mixin Transition {
  transition:
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
    opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.kite_ {
  &h {
    &l {
      &t {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: right center;
        }

        @include Animate();
        @include AnimateX($isLeft: true);
      }
      &b {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: right center;
        }
        @include Animate();
        @include AnimateX($isLeft: true);
      }
      &c {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: right center;
        }
        @include Animate();
        @include AnimateX($isLeft: true);
      }
    }

    &r {
      &t {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: left center;
        }

        @include Animate();
        @include AnimateX($isLeft: false);
      }
      &b {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: left center;
        }
        @include Animate();
        @include AnimateX($isLeft: false);
      }
      &c {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: left center;
        }
        @include Animate();
        @include AnimateX($isLeft: false);
      }
    }
  }
  &v {
    &l {
      &t {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: center bottom;
        }

        @include Animate();
        @include AnimateY($isTop: true);
      }
      &b {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: center top;
        }
        @include Animate();
        @include AnimateY($isTop: false);
      }
    }

    &r {
      &t {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: center bottom;
        }

        @include Animate();
        @include AnimateY($isTop: true);
      }
      &b {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: center top;
        }
        @include Animate();
        @include AnimateY($isTop: false);
      }
    }

    &c {
      &t {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: center bottom;
        }

        @include Animate();
        @include AnimateY($isTop: true);
      }
      &b {
        &EnterActive,
        &LeaveActive {
          @include Transition();
          transform-origin: center top;
        }
        @include Animate();
        @include AnimateY($isTop: false);
      }
    }
  }
}

.kiteRoot_i {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: -100%;
  left: -100%;
  display: inline;
  width: 0;
  height: 0;
  visibility: hidden;
}
