/**
* @file 
* @date 2024-02-27
* @author xuejie.he
* @lastModify xuejie.he 2024-02-27
*/

.nav_tool_container {
  position: fixed;
  transform: none;
  left: auto;
  right: 6.4rem;
  bottom: 6rem;
}

.nav_tool_container > div:last-child {
  margin-bottom: 0;
}

.nav_tool_chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: $white;
  box-shadow: $shadow_small;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    background-color: $primary_500;
    color: $white;
  }
}

.nav_tool_chat_tooltips {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0.8rem 2rem 0.8rem 1.2rem;
  border-radius: 0.6rem;
  box-shadow: $shadow_small;
  background-color: $white;
  > svg {
    font-size: 2.4rem;
  }
  > span {
    @include c_body_3;
    display: inline-flex;
    align-items: center;
    color: $neutral_400;
    white-space: nowrap;
    padding-left: 0.4rem;
  }
}

.nav_tool_backtop {
  pointer-events: auto;
  cursor: pointer;
}
