/**
* @file 
* @date 2024-02-27
* @author xuejie.he
* @lastModify xuejie.he 2024-02-27
*/

/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
@mixin flexWrap {
  width: 120rem;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: (1370px)) {
    width: calc(100% - 18rem);
  }
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */

.nav_tool_container {
  @include flexWrap;
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.nav_tool_inner {
  position: relative;
  width: 100%;
}

.nav_tool {
  position: absolute;
  left: 100%;
  transform: translate(2rem);
  bottom: 6.4rem;
}

.nav_tool.nav_tool_fixed {
  position: fixed;
  transform: none;
  left: auto;
  right: 6.4rem;
  bottom: 6rem;
}

.nav_tool > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: $white;
  box-shadow: $shadow_small;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  pointer-events: all;
}

.nav_tool > div:last-child {
  margin-bottom: 0;
}

.nav_tool_chat {
  &:hover {
    background-color: $primary_500;
    color: $white;
  }
}

.nav_tool_chat_tooltips {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0.8rem 2rem 0.8rem 1.2rem;
  border-radius: 0.6rem;
  box-shadow: $shadow_small;
  background-color: $white;
  > svg {
    font-size: 2.4rem;
  }
  > span {
    @include c_body_3;
    display: inline-flex;
    align-items: center;
    color: $neutral_400;
    white-space: nowrap;
    padding-left: 0.4rem;
  }
}

.nav_tool .nav_tool_backtop {
  pointer-events: auto;
  cursor: pointer;
}
